body {
  background-color: rgba(0, 0, 255, 0.3);
}

h1 {
  text-align: center;
}

.columnas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.col {
  border: 2px solid black;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
