h1 {
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-evenly;
    max-width: 700px;
    margin: 0 auto;
}

a, button{
    text-decoration: 0;
    background: dodgerblue;
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    border: 0;
}

a:hover, button:hover {
    background: rgb(12, 117, 223);
    cursor: pointer;
}

form {
    max-width: 200px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 3px;
    border: 1px solid black;
    padding: 20px;
}

input {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}



