/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
}

.block--accent {
  background: var(--color-accent);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block__heading {
  margin-top: 0;
}