/* Genres */
.genre__image {
    width: 100%;
    mask-image: linear-gradient(to top, transparent 0%, black 70%);
}

/* Genres Block */
.block-genres {
  margin-top: 10rem;
}
.block-genres .grid {
  gap: 8rem 4rem;
}

.block-genres .card {
  max-width: 400px;
  margin: 0 auto;
}
