/* Genres */
.genre__image {
    width: 100%;
    mask-image: linear-gradient(to top, transparent 0%, black 70%);
}

.block-genres {
  background: var(--color-accent);
  padding: 4rem;
  border-radius: 30px;

  margin-top: 5rem;
  margin-bottom: 5rem;

  .block__header {
    margin-bottom: 3rem;
    background: white;
    border-radius: 20px;
  }
  p {
    color: var(--color-headings);
  }
}
.block-genres .grid {
  gap: 8rem 4rem;
}

.block-genres .card {
  max-width: 400px;
  margin: 0 auto;
}
