.block-buscador {
    margin-top: 15rem;
}
.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  outline: 0;
  color: var(--color-headings);
  font-size: 2rem;
}

.input-group {
    border: 5px solid var(--color-accent);
    border-radius: 50px;
    display: flex;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  width: 0;
  padding: 1rem 2rem;
  border-radius: 50px;
}


.input-group .btn {
  margin: 4px;
}

.btn .icon {
    position: relative;
    top: 5px;
    height: 18px;
}

::placeholder {
    color: rgb(200, 200, 200);
}

@media screen and (min-width: 768px) {
    .block-buscador {
        margin-top: 0;
    }
}

@media screen and (min-width: 1024px){
    .input-group .btn {
        font-size: 2rem;
    }
}
