/* Footer */
.footer__section {
    padding: 2rem;
    text-align: center;
}

.footer__brand {
    margin-top: 2rem;
    text-align: center;

    p {
        font-size: 1.5rem;
    }
}



@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .footer__brand {
    order: -1;
  }
}

