.block-form {
    max-width: 500px;
    margin: 0 auto;
    background: var(--color-accent);
    padding: 4rem;
    border-radius: 30px;

   input, textarea {
    margin-bottom: 1rem;
    padding: 10px 15px;
    border: 0;
    border-radius: 30px;
    resize: none;
   }

   textarea {
    color: var(--color-body-darker);
    padding: 20px;
    margin-bottom: 3rem;
   }

   label {
    color: var(--color-headings);
   }

  
}

.block-form__header {
    text-align: center;
}

