/* Hero */

.hero__image {
  width: 100%;
  margin-top: 10rem;
  margin-bottom: -15rem;
}

.hero__tagline {
  font-size: 2.5rem;
  color: var(--color-headings);
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero .grid {
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .hero__image {
    margin-bottom: 0;
    margin-top: 5rem;
  }
}