/* Hero */

.hero__image {
  width: 100%;
  margin-top: 10rem;
  margin-bottom: -15rem;
}

.hero__tagline {
  color: var(--color-headings);
  letter-spacing: 1px;
  margin: 1rem 0 3rem;
  line-height: 1.2;
}

.hero .grid {
  gap: 2rem;
}


@media screen and (min-width: 768px) {
  .hero__image {
    margin-bottom: 0;
    margin-top: 5rem;
  }
  .hero__content {
    text-align: left;
  }

  .hero__tagline {
    padding: 0 1rem;
    padding-right: 5rem;
    
  }
}

@media screen and (min-width: 1024px){
  .hero__tagline {
    font-size: 2.4rem;
  }
} 