/* Navigation */
.nav {
  background: var(--color-accent);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 2rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0rem 0rem;

}

.nav__item > a {
  color: var(--color-primary);
  transition: color 0.3s;
  padding: 0.5rem 1rem;
}
.nav__item > a:hover {
  color: var(--color-headings)
}

.nav__toggler {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
}

.nav__toggler:hover {
  opacity: 1;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 2rem;
    max-height: 100%;
    opacity: 1;
  }

}