/* Tablas */

.block-table {
   width: 100%;
   margin-top: 5rem;
   border-collapse: collapse;
    td {
        width: 250px;
        height: 250px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }


}

table, tr, th, td {
    border: 2px solid var(--color-body);
    border-collapse: collapse;
    padding: 1rem;
    margin-top: 2rem;

    tr:hover {
        background: var(--color-accent);
        color: var(--color-primary);
        
    }
}

