/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Crimson Pro'; 
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-primary);
  margin-bottom: 1rem;
  line-height: 1.1;
  font-family: 'Abril Fatface';
  letter-spacing: 3px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
}