:root {
  --color-primary: #44556D;
  --color-secondary: #fff;
  --color-accent: #BBFFA7; 
  --color-headings: #6B82A6;
  --color-body: #B7B9BC;
  --color-body-darker: #717172;
  --color-border: #ccc;
  --border-radius: 30px;
}