@use 'variables';
@use 'base';
@use 'tipografia';
@use 'logo';
@use 'cards';
@use 'links';
@use 'botones'; 
@use 'blocks';
@use 'container';
@use 'grids';
@use 'block-genres';
@use 'lists';
@use 'icons';
@use 'collapsibles';
@use 'nav-bar';
@use 'hero.scss';