@charset "UTF-8";
:root {
  --color-primary: #44556D;
  --color-secondary: #fff;
  --color-accent: #BBFFA7;
  --color-headings: #6B82A6;
  --color-body: #B7B9BC;
  --color-body-darker: #717172;
  --color-border: #ccc;
  --border-radius: 30px;
}

/* Box sizing con selector universal para que afecte a todos los elementos */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Crimson Pro";
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
  font-family: "Abril Fatface";
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
}
/* Logo*/
.logo {
  font-family: Damion;
  font-size: 4rem;
  margin: 0;
  color: var(--color-primary);
}

/* Cards */
.card {
  overflow: hidden;
}

.card__body {
  border-radius: 30px;
  padding: 1rem;
}

.card--accent {
  background: var(--color-accent);
}

/* Links */
a {
  text-decoration: none;
}

/* Buttons */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  outline: 0;
  font-family: inherit;
  letter-spacing: 2px;
}

/* Skins */
.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background: #32445a;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
  color: #448a86;
}

.btn--accent:hover {
  background: #6ddbb1;
}

.btn--outline {
  background: transparent;
  border: 3px solid var(--color-primary);
  color: var(--color-primary);
}

.btn--outline:hover {
  background: var(--color-primary);
  color: #fff;
}

/* Skin by size */
.btn--small {
  width: 50%;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.btn--block {
  width: 100%;
  display: block;
}

/* Desktop version */
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
}

.block--accent {
  background: var(--color-accent);
}

/* Clase generica para ancho máximo de todo el contenido */
.container {
  max-width: 1140px;
  margin: 0 auto; /* 0px vertical, horizontal automático */
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Genres */
.genre__image {
  width: 100%;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 70%);
          mask-image: linear-gradient(to top, transparent 0%, black 70%);
}

/* Genres Block */
.block-genres {
  margin-top: 10rem;
}

.block-genres .grid {
  gap: 8rem 4rem;
}

.block-genres .card {
  max-width: 400px;
  margin: 0 auto;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

/* Icons */
.icon {
  width: 30px;
  height: 30px;
}

/* Skins */
.icon--white {
  fill: #fff;
}

/* Collapsibles */
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Navigation */
.nav {
  background: var(--color-accent);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 2rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0rem 0rem;
}

.nav__item > a {
  color: var(--color-primary);
  transition: color 0.3s;
  padding: 0.5rem 1rem;
}

.nav__item > a:hover {
  color: var(--color-headings);
}

.nav__toggler {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
}

.nav__toggler:hover {
  opacity: 1;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 2rem;
    max-height: 100%;
    opacity: 1;
  }
}
/* Hero */
.hero__image {
  max-width: 920px;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: -15rem;
}

/* Footer */
.footer__section {
  padding: 2rem;
  text-align: center;
}
.footer__section a {
  color: var(--color-primary);
}
.footer__section a:hover {
  color: var(--color-headings);
}

.footer__brand {
  margin-top: 2rem;
  text-align: center;
}
.footer__brand p {
  font-size: 1.5rem;
  color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .footer__brand {
    order: -1;
  }
}
.block-form {
  max-width: 500px;
  margin: 0 auto;
  background: var(--color-accent);
  padding: 4rem;
  border-radius: 30px;
}
.block-form input, .block-form textarea {
  margin-bottom: 1rem;
  padding: 10px 15px;
  border: 0;
  border-radius: 30px;
  resize: none;
}
.block-form textarea {
  color: var(--color-body-darker);
  padding: 20px;
  margin-bottom: 3rem;
}
.block-form label {
  color: var(--color-headings);
}

.block-form__header {
  text-align: center;
}/*# sourceMappingURL=main.css.map */