/* generic classes */
html {
    font-size: 62.5%;
}
body {
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(241, 236, 229);
}

h1, h2, h3, article, p {
    font-size: 2rem;
}

/* header */

header {
    background-color: rgb(192, 168, 137);
}
/* nav menu */
.prueba {
    display: flex;
    
}
.btn {
    background-color: black;

    width: 10rem; 
    height:3rem;
    border-radius: 30px;
}
/* main content */
/* footer */