/* BASE */
:root {
  --color-primary: #44556D;
  --color-secondary: #fff;
  --color-accent: #BBFFA7; 
  --color-headings: #6B82A6;
  --color-body: #B7B9BC;
  --color-body-darker: #717172;
  --color-border: #ccc;
  --border-radius: 30px;
}
/* Box sizing con selector universal para que afecte a todos los elementos */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Crimson Pro'; 
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
  font-family: 'Abril Fatface';
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
}



/* Cards */
.card {
  overflow: hidden;
}

.card__body {
    border-radius: 30px;
    padding: 1rem;
}

.card--accent {
    background: rgb(195, 236, 98);
}

/* Links */

a {
  text-decoration: none;
}

/* Buttons */

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  outline: 0;
  font-family: inherit;
  letter-spacing: 2px;

}


/* Skins */
.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background: #32445a;
}


.btn--accent {
  background: var(--color-accent);
  color: #fff;
  color: #448a86; 
}

.btn--accent:hover {
  background: #6ddbb1; 
  
}

.btn--outline {
  background: #fff;
  border: 3px solid var(--color-primary);
  color: var(--color-primary);
}

.btn--outline:hover {
  background: var(--color-primary);
  color: #fff;
}



/* Skin by size */
.btn--block {
  width: 100%;
  display: inline-block;
}


/* Desktop version */
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
}

.block--accent {
  background: var(--color-accent);
}

/* Clase generica para ancho máximo de todo el contenido */
.container {
  max-width: 1140px;
  margin: 0 auto; /* 0px vertical, horizontal automático
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Generes */
.genre__image {
    width: 100%;
    mask-image: linear-gradient(to top, transparent 0%, black 70%);
}

/* Genres Block */
.block-genres .grid {
  gap: 8rem 4rem;
}

.block-genres .card {
  max-width: 400px;
  margin: 0 auto;
}