/* Paleta de colores */
:root {
    --color-primario: #44556D;
    --color-secundario: white;
    --color-accent:#BBFFA7; 
    --color-headings: #6B82A6;
    --color-body: #B7B9BC;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #FFFDFA;
    color: var(--color-body);
    font-family: 'Crimson Pro'; 
    font-size: 3rem;
   
}

h1, h2, h3 {
    color: var(--color-headings);
    font-family: 'Abril Fatface';
}

h2 {
    font-size: 3rem;
}
/* generic classes */

/* main content */

.logo {
    font-family: Damion;
    font-size: 4rem;
}

.hero {
    background-color: var(--color-accent);
}
/* footer */

/* STILOS PARA DESKTOP */

@media screen and (min-width: 1024px){
    body {
        font-size: 4rem;
    }

    h2 {
        font-size: 6rem;
    }
}