<footer class="block block--accent">
  <div class="container grid footer__sections">
    <section class="footer__section">
      <ul class="list">
        <li><a href="">Item</a></li>
        <li><a href="">Item</a></li>
        <li><a href="">Item</a></li>
      </ul>
    </section>
    <section class="footer__section">
      <ul class="list">
        <li><a href="">Item</a></li>
        <li><a href="">Item</a></li>
        <li><a href="">Item</a></li>
      </ul>
    </section>
    <section class="footer__section">
      <ul class="list">
        <li><a href="">Item</a></li>
        <li><a href="">Item</a></li>
        <li><a href="">Item</a></li>
      </ul>
    </section>
    <section class="footer__section footer__brand">
      <a href="#">
        <h1 class="logo">Bibliofiles</h1>
      </a>
      <p>Copyright 2025 Kevin Soliz</p>
    </section>
  </div>
</footer>
