<div class="media">
  <div class="media__image">
    <img src="images/kevin.jpg" alt="" />
  </div>
  <div class="media__body">
    <h3 class="media__title">Kevin Soliz</h3>
    <p>
      Soy Kevin Soliz, estudiante de Desarrollo de Aplicaciones Web y alguien
      que disfruta aprender cosas nuevas cada día. Me encanta la programación y
      estoy metido en todo un poco: Java, JavaScript, bases de datos, Three.js…
      siempre con ganas de mejorar porque quiero empezar a trabajar como
      programador lo antes posible.
    </p>
  </div>
</div>
