@use 'variables' as *; 


@mixin btn($color) {
  background: $color;
  border-radius: 50px;
  padding: 12px 25px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 20px opacidad($color, 0.3);
    transform: scale(1.05);
    background: darken($color, 20%);
  }
}
