body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.caja {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: dodgerblue;
  animation: salto 0.9s infinite;
}

@keyframes salto {
  0% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-300px); 
  }

  100% {
    transform: translateY(0);
  }
}
