body {
    border-width: 10px;
    border-color: blue;
    border-style: solid;
    color:red;
}

h1 {
    border: inherit;
    color: green;
}
p {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    display: block;
}

img {
    width: 500px;
}